BlackList/Service References/ServiceReference/OperatorRequest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://vigruzki.rkn.gov.ru/OperatorRequest/" name="OperatorRequest" targetNamespace="http://vigruzki.rkn.gov.ru/OperatorRequest/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://vigruzki.rkn.gov.ru/OperatorRequest/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="getLastDumpDate">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getLastDumpDateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lastDumpDate" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestFile" type="xsd:base64Binary" />
            <xsd:element name="signatureFile" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="resultComment" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="code" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getResult">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="code" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getResultResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="resultComment" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="registerZipArchive" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getLastDumpDate">
    <wsdl:part name="parameters" element="tns:getLastDumpDate" />
  </wsdl:message>
  <wsdl:message name="getLastDumpDateResponse">
    <wsdl:part name="parameters" element="tns:getLastDumpDateResponse" />
  </wsdl:message>
  <wsdl:message name="sendRequest">
    <wsdl:part name="parameters" element="tns:sendRequest" />
  </wsdl:message>
  <wsdl:message name="sendRequestResponse">
    <wsdl:part name="parameters" element="tns:sendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="getResult">
    <wsdl:part name="parameters" element="tns:getResult" />
  </wsdl:message>
  <wsdl:message name="getResultResponse">
    <wsdl:part name="parameters" element="tns:getResultResponse" />
  </wsdl:message>
  <wsdl:portType name="OperatorRequestPortType">
    <wsdl:operation name="getLastDumpDate">
      <wsdl:input message="tns:getLastDumpDate" />
      <wsdl:output message="tns:getLastDumpDateResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendRequest">
      <wsdl:input message="tns:sendRequest" />
      <wsdl:output message="tns:sendRequestResponse" />
    </wsdl:operation>
    <wsdl:operation name="getResult">
      <wsdl:input message="tns:getResult" />
      <wsdl:output message="tns:getResultResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OperatorRequestPortBinding" type="tns:OperatorRequestPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLastDumpDate">
      <soap:operation soapAction="http://vigruzki.rkn.gov.ru/services/OperatorRequest/getLastDumpDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendRequest">
      <soap:operation soapAction="http://vigruzki.rkn.gov.ru/services/OperatorRequest/sendRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResult">
      <soap:operation soapAction="http://vigruzki.rkn.gov.ru/services/OperatorRequest/getResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OperatorRequestService">
    <wsdl:port name="OperatorRequestPort" binding="tns:OperatorRequestPortBinding">
      <soap:address location="http://vigruzki.rkn.gov.ru/services/OperatorRequest/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>